<?xml version="1.0"?>
<robot name="r1" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Import robot model -->
  	<xacro:include filename="$(find sd_description)/urdf/r1.xacro" />

	<gazebo>
		<!-- ros_control plugin -->
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/r1</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		</plugin>

		<!-- ground truth plugin -->
		<plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>20.0</updateRate>
			<bodyName>base_link</bodyName>
			<frameName>world</frameName>
			<robotNamespace>/r1</robotNamespace>
			<topicName>ground_truth</topicName>
			<gaussianNoise>0.0</gaussianNoise>
			<xyzOffsets>0 0 0</xyzOffsets>
			<rpyOffsets>0 0 0</rpyOffsets>
		</plugin>
	</gazebo>

	<gazebo reference="body_link">
		<mu1>0.01</mu1>
		<mu2>0.01</mu2>
		<material>Gazebo/Red</material>
	</gazebo>

	<!-- One roller of the wheel -->
    <xacro:macro name="roller_gazebo" params="parent name">
        <gazebo reference="roller_${name}_${parent}_link">
	        <mu1>0.5</mu1>
			<mu2>0.5</mu2>
			<material>Gazebo/White</material>
		</gazebo>	
    </xacro:macro>

    <!-- Roller loop -->
    <xacro:macro name="roller_loop_gazebo" params="parent roller_i prefix">
        <xacro:if value="${roller_i}">
            <xacro:roller_gazebo parent="${parent}" name="${prefix}_${roller_i}" />
            <xacro:roller_loop_gazebo parent="${parent}" roller_i="${roller_i - 1}" prefix="${prefix}"/>
        </xacro:if>
    </xacro:macro>

    <!-- Whell with rollers -->
    <xacro:macro name="omni_wheel_gazebo" params="name">
        <gazebo reference="${name}_wheel_link">
	        <mu1>0.01</mu1>
			<mu2>0.01</mu2>
			<material>Gazebo/Black</material>
		</gazebo>
        <xacro:roller_loop_gazebo parent="${name}_wheel" prefix="ext" roller_i="${wheel_roller_number}" />
        <xacro:roller_loop_gazebo parent="${name}_wheel" prefix="int" roller_i="${wheel_roller_number}" />
    </xacro:macro>

    <omni_wheel_gazebo name="left" />
    <omni_wheel_gazebo name="right" />
    <omni_wheel_gazebo name="back" />

</robot>