# Mac os
.DS_Store

# Ignore catkin_make build files
/ros/build/
/ros/devel/
/ros/.settings/
/ros/.cproject
/ros/.project
/.vscode
/ros/Debug/
/ros/.pydevproject
/ros/src/CMakeLists.txt
/scripts/robot.id
/rpi-sysroot
