<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="sim" default="false"/>
	<arg name="robot_ns" default=""/>

	<rosparam file="$(find sd_teleop)/config/sd_teleop.yaml" command="load"/>
	
	<node name="joy" pkg="joy" type="joy_node" unless="$(arg sim)"/>

	<node name="teleop" pkg="sd_teleop" type="teleop_node" output="screen" ns="$(arg robot_ns)"/>
</launch>
