<launch>
	<group ns="/r2">
		<!-- Description  -->
		<include file="$(find sd_description)/launch/r2_description.launch">
		</include>
		
		<!-- send fake joint values -->
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="TRUE"/>
		</node>
		
		<!-- Combine joint values -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
				respawn="false" output="screen">
		</node>
		
		<!-- Show in Rviz   -->
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find sd_description)/rviz/r2.rviz"/>
	</group>
</launch>