<?xml version="1.0"?>
<launch>

    <arg name="robot_ns"/>
    <arg name="rosserial_cplusplus" default="true"/>

    <!-- Load controller settings -->
    <rosparam file="$(find sd_hardware_interface)/config/$(arg robot_ns)_hardware_interface.yaml" command="load"/>

    <!-- Publish joint values from controllers -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="tf_prefix" value="$(arg robot_ns)"/>
    </node>

    <!-- ROS Serial (High performance version en C++) for R1 -->
    <node pkg="rosserial_server" type="serial_node" name="rosserial_server_motor" 
        if="$(eval arg('robot_ns') == 'r1')"/>
    <node pkg="rosserial_server" type="serial_node" name="rosserial_server_pince" 
        if="$(eval arg('robot_ns') == 'r1')"/>
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info"  
        if="$(eval arg('robot_ns') == 'r1')"/>

    <!-- ROS Serial python for R2 -->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial_server_motor" 
       if="$(eval arg('robot_ns') == 'r2')"/>

     <!-- Load hardware interface -->
    <node name="hardware_interface" pkg="sd_hardware_interface" type="sd_hardware_interface" output="screen"/>

</launch>
