[Unit]
Description=Stardust ROS
After=network-online.target

[Service]
Type=forking
 
User=pi
Group=pi
UMask=007
 
ExecStart=/home/pi/stardust/scripts/start.sh
ExecStop=/home/pi/stardust/scripts/stop.sh

[Install]
WantedBy=default.target