[Unit]
Description=Stardust ROS
After=network-online.target

[Service]
Type=forking
 
User=r2
Group=r2
UMask=007
 
ExecStart=/home/r2/stardust/scripts/start.sh
ExecStop=/home/r2/stardust/scripts/stop.sh

[Install]
WantedBy=default.target
