<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="sim" default="false"/>
	<arg name="ground_truth" default="false"/>
	
	<machine name="localhost" address="localhost" env-loader="/opt/ros/melodic/env.sh"/>

	<!-- Common nodes between r1 and r2 robot  -->
	<include file="$(find sd_main)/launch/rx.launch">
		<arg name="sim" value="$(arg sim)"/>
		<arg name="robot_ns" value="r1"/>
		<arg name="ground_truth" value="$(arg ground_truth)"/>
	</include>

	<!-- Waiting for auto mode / teleop only !-->
	<node name="teleop_only" pkg="topic_tools" type="relay" args="/r1/teleop/cmd_vel /r1/mobile_base_controller/cmd_vel" unless="$(arg sim)" />

</launch>