<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="sim" default="false"/>
	
	<machine name="localhost" address="localhost" env-loader="/opt/ros/kinetic/env.sh"/>

	<!-- Common nodes between r1 and r2 robot  -->
	<include file="$(find sd_main)/launch/rx.launch">
		<arg name="robot_ns" value="r1" /> 
	</include>

</launch>