<launch>
	<arg name="sim" default="false"/>
	
	<machine name="localhost" address="localhost" env-loader="/opt/ros/kinetic/env.sh"/>

	<group ns="/r2">
		<!-- Description  -->
		<include file="$(find sd_description)/launch/r2_description.launch">
		</include>

		<!-- Control  -->
		<include file="$(find sd_control)/launch/r2_control.launch">
			<arg name="sim" value="$(arg sim)"/>
		</include>

		<!-- Common nodes between r1 and r2 robot  -->
		<include file="$(find sd_main)/launch/rx.launch">
			<arg name="sim" value="$(arg sim)"/>
		</include>
	</group>

</launch>