<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="sim" default="false"/>
	<arg name="ground_truth" default="false"/>
	<arg name="joy_type" default="xbox"/>
	
	<machine name="localhost" address="localhost" env-loader="/opt/ros/melodic/env.sh"/>

	<!-- Common nodes between r1 and r2 robot  -->
	<include file="$(find sd_main)/launch/rx.launch">
		<arg name="sim" value="$(arg sim)"/>
		<arg name="robot_ns" value="r2"/>
		<arg name="ground_truth" value="$(arg ground_truth)"/>
		<arg name="joy_type" value="$(arg joy_type)"/>
	</include>

	<group ns="r2">
		<include file="$(find sd_led_matrix)/launch/sd_led_matrix.launch">
		</include>
	</group>
</launch>
