<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="robot_ns" default="false"/>

	<!-- Teleop  -->
	<include file="$(find sd_teleop)/launch/sd_teleop.launch">
		<arg name="robot_ns" value="$(arg robot_ns)" />
	</include>

	<!-- Description  -->
	<include file="$(find sd_description)/launch/sd_description.launch">
		<arg name="robot_ns" value="$(arg robot_ns)" />
	</include>
	
</launch>