<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="gui" default="false"/>
	<arg name="r1" default="true"/>
	<arg name="r2" default="true"/>
	<arg name="ground_truth" default="false"/>
	<arg name="joy_type" default="xbox"/>

	<machine name="localhost" address="localhost" env-loader="/opt/ros/melodic/env.sh"/>

	<include file="$(find sd_gazebo)/launch/sd_gazebo.launch">
		<arg name="gui" value="$(arg gui)" />
		<arg name="ground_truth_tf_broadcaster" value="$(arg ground_truth)"/>
		<arg name="r1" value="$(arg r1)"/>
		<arg name="r2" value="$(arg r2)"/>
	</include>

	<include file="$(find sd_main)/launch/r1.launch" if="$(arg r1)">
		<arg name="sim" value="true" />
		<arg name="ground_truth" value="$(arg ground_truth)"/>
		<arg name="joy_type" value="$(arg joy_type)"/>
	</include>

	<include file="$(find sd_main)/launch/r2.launch" if="$(arg r2)">
		<arg name="sim" value="true" /> 
		<arg name="ground_truth" value="$(arg ground_truth)"/>
		<arg name="joy_type" value="$(arg joy_type)"/>
	</include>

	<node name="joy_xbox" pkg="joy" type="joy_node" if="$(eval arg('joy_type') == 'xbox')">
		<rosparam file="$(find sd_teleop)/config/joy_xbox.yaml" command="load"/>
	</node>
	<node name="joy_ps" pkg="joy" type="joy_node" if="$(eval arg('joy_type') == 'ps')">
		<remap from="joy" to="joy_ps"/>
		<rosparam file="$(find sd_teleop)/config/joy_ps.yaml" command="load"/>
	</node>
	<node name="joy_convert" pkg="sd_teleop" type="joy_convert_node" if="$(eval arg('joy_type') == 'ps')"/>

	<node name="joy_switcher" pkg="sd_teleop" type="joy_switcher_node" output="screen"/>
</launch>